label {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
}

textarea {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
    box-sizing: border-box;
    resize: none;
    min-height: 80px;
    overflow: hidden;
}