.product {
  margin-top: 6.5em;
  &-list {
    &-product {
      position: relative;
      margin-bottom: 2em;
      &:before {
        content: "";
        margin: auto;
        background: #fff;
        height: 100%;
        position: absolute;
        z-index: -999999;
      }
    }
  }
  &--show {
    &-title {
      h1 { 
        font-size: 24px;
      }
    }
    &-footer {
      background: #fff;
      padding: 0 2% 2%;
    }
  }
}