$pad : $grid-gutter-width-base;

// Spacing helpers
$paddings: ( ms: $pad/2/2/2, xs: $pad/2/2, sm: $pad/2, md: $pad, lg: $pad * 1.5, xl: $pad * 2 );
@each $class, $padding in $paddings {
    .p-#{$class} {
        padding: $padding !important;
    }
    .pl-#{$class} {
        padding-left: $padding !important;
    }
    .pr-#{$class} {
        padding-right: $padding !important;
    }
    .pt-#{$class} {
        padding-top: $padding !important;
    }
    .pb-#{$class} {
        padding-bottom: $padding !important;
    }
    .m-#{$class} {
        margin: $padding !important;
    }
    .ml-#{$class} {
        margin-left: $padding !important;
    }
    .mr-#{$class} {
        margin-right: $padding !important;
    }
    .mt-#{$class} {
        margin-top: $padding !important;
    }
    .mb-#{$class} {
        margin-bottom: $padding !important;
    }
}

.m-none {
    margin: 0 !important;
}
.mb-none {
    margin-bottom: 0 !important;
}
.mt-none {
    margin-top: 0 !important;
}
.mr-none {
    margin-right: 0 !important;
}
.ml-none {
    margin-left: 0 !important;
}
.p-none {
    padding: 0 !important;
}
.pb-none {
    padding-bottom: 0 !important;
}
.pt-none {
    padding-top: 0 !important;
}
.pr-none {
    padding-right: 0 !important;
}
.pl-none {
    padding-left: 0 !important;
}
